DB_HOST=localhost
# DB_PORT=3306   # optional, only set if MySQL is not on 3306
DB_NAME=redshirt_db
DB_USER=db_user
DB_PASS=db_pass
BEARER_TOKEN=geheimer_api_token
# SHA-256 hash of the admin password (generate with: echo -n "yourpassword" | sha256sum)
ADMIN_PASSWORD=change_me_to_sha256_hash
ANONYMIZE_OUTPUT=false
